
<div class="at-item">
<!-- TITLE -->
<div class="text-center">
  <h1 class="text-[#07506A] text-[26px] mt-9">Historique des transactions</h1>
  <h2 class="text-[#8E98A8] text-[18px]">
    Garder le contrôle sur l’ensemble des transactions effectuées sur la
    plateforme
  </h2>
</div>

<!-- PREMIER BLOCK BLANC  -->
<section class="flex justify-center">
  <div
    class="w-[80%] h-[200px] bg-[#FFFFFF] rounded-lg drop-shadow-md mt-9 px-8 py-3 flex justify-evenly"
    style="flex-direction: column"
  >
    <h2 class="text-[#07506A] text-[19px]">
      <strong>Chiffre d'affaire: </strong><span>{{ chiffreAffaire | number}} FCFA</span>
    </h2>
    <div class="contentLevel grid grid-cols-4 gap-2">
      <!-- GREEN  BAC-->
      <div class="flex" style="flex-direction: column">
        <div class="ligneniveau h-[4px] bg-[#39A74B] w-full"></div>
        <p class="text-[#39A74B] mt-2">{{ chiffreAffaireBac }} FCFA</p>
        <p class="text-[#8E98A8]">Transaction BAC</p>
      </div>

      <!-- BLUE CEPE-->
      <div class="flex" style="flex-direction: column">
        <div class="ligneniveau h-[4px] bg-[#00A9E4] w-full"></div>
        <p class="text-[#00A9E4] mt-2">{{ chiffreAffaireBac }} FCFA</p>
        <p class="text-[#8E98A8]">Transaction CEPE</p>
      </div>

      <!-- RED BEPC-->
      <div class="flex" style="flex-direction: column">
        <div class="ligneniveau h-[4px] bg-[#EE6060] w-full"></div>
        <p class="text-[#EE6060] mt-2">{{ chiffreAffaireBac }} FCFA</p>
        <p class="text-[#8E98A8]">Transaction BEPC</p>
      </div>

      <!-- YELLOW CONCOURS-->
      <div class="flex" style="flex-direction: column">
        <div class="ligneniveau h-[4px] bg-[#FFDC0E] w-full"></div>
        <p class="text-[#FFDC0E] mt-2">{{ chiffreAffaireBac }} FCFA</p>
        <p class="text-[#8E98A8]">Transaction CONCOURS</p>
      </div>
    </div>
  </div>
</section>

<!-- TABLEAU TRANSACTION -->
<section class="w-full h-[53vh] bg-[#FFFFFF] mt-10 flex justify-center">
  <!-- BOUTTON DE TELECHARGEMENT -->


  <!-- TABLEAU -->
  <app-tableau [LisTransaction]="transactions" class="mt-4"></app-tableau>
</section>

</div>