/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.p-button {
  background: transparent !important;
  color: #ffffff !important;
  border-color: white !important;
  cursor: pointer;
  border-radius: 30px !important;
  width: 229px;
  height: 52px;
  text-align: center;
}
.p-button:enabled:hover {
  background: white !important;
  color: #07506a !important;
  border-color: #07506a !important;
}
.p-avatar-text	{
  color: #07506A!important;
}

.p-button.p-button-text.p-button-plain:enabled:active {
  background: transparent!important;
  outline: none!important;
  border: none!important;
}

.p-button.p-button-text.p-button-plain:enabled:focus {
  border-color:transparent!important;
  box-shadow: 0 0 0 2px transparent!important;
}

.p-button.p-button-text:enabled:hover {
  background: transparent!important;
  color: white!important;
  border-color: transparent!important;
}
