/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


body{
  background-color: #F6F6F6;
  font-family: 'EB Garamond', serif;
}

// BUTTON DE CONNEXION SESSION
.btnSession{
  .p-button {
    border-color: white !important;
    cursor: pointer;
    border-radius: 30px !important;
  }
  .p-button:enabled:active {
    background: transparent!important;
    outline: none!important;
    border: none!important;
  }
  .p-button:enabled:focus {
    border-color:transparent!important;
    box-shadow: 0 0 0 2px transparent!important;
  }

  .p-button:enabled:hover {
    background: white !important;
    color: #07506a !important;
    border-color: #07506a !important;
  }

  
  .p-button.p-button-text.p-button-plain:enabled:active {
    background: transparent!important;
    outline: none!important;
    border: none!important;
  }
  
  .p-button.p-button-text.p-button-plain:enabled:focus {
    border-color:transparent!important;
    box-shadow: 0 0 0 2px transparent!important;
  }
  
  .p-button.p-button-text:enabled:hover {
    background: transparent!important;
    color: white!important;
    border-color: transparent!important;
  }

}


// BUTTON TELECHARGEMENT PAGE HYSTORY
.btnDownLoad{
  .p-button {
    color: #07506a!important;
    border-color: white!important;
    cursor: pointer;
  }
  .p-button:enabled:hover {
    border-color: transparent!important;
    background: white !important;
  }
  .p-button:enabled:active {
    background: transparent!important;
    outline: none!important;
    border: none!important;
  }
  .p-button:enabled:focus {
    border-color:transparent!important;
    box-shadow: 0 0 0 2px transparent!important;
  }
}

.p-avatar-text	{
  color: #07506A!important;
}


.dateFil{
  .p-calendar .p-inputtext {
    max-width: 70px!important;
  }
}

.p-dropdown{
  max-width: fit-content!important;
}

.p-column-filter-buttonbar .p-button {
  color: #4F46E5!important;
}

.p-column-filter-buttonbar .p-button:hover {
  background-color: #4F46E5!important;
  color: white!important;
}

.p-inputnumber-buttons-stacked .p-button.p-inputnumber-button-up {
  color: #4F46E5;
}

.p-inputnumber-buttons-stacked .p-button.p-inputnumber-button-down {
  color: #4F46E5;
}

